.cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__box {
    display: flex;
    flex-direction: column;
    background: silver;
    align-items: center;
  }
  &__total {
    text-align: center;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &__item {
      display: flex;
      align-items: center;
      border-radius: $radius1;
      justify-content: space-between;
      background: white;
      width: 90%;
      padding: 0 0.5rem;
      height: 100px;
      overflow: hidden;
      margin-bottom: 0.4rem;
      &__photo {
        flex: 0 0 90px;
      }
      &__name {
        /* flex: 0 0 100px; */
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1rem;
      }
      &__qty {
        flex: 0 0 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        &__pm {
          font-size: 2rem;
          padding: 1rem;
          cursor: pointer;
        }
        &__num {
        }
      }
    }
  }
}

.cart__btn--danger {
  background: $danger;
}
.cart .btn {
  margin: 0.4rem;
}

.cartbar {
  margin: 0;
  padding: 0;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  overflow: auto;
  z-index: 1;
  width: $barwidth;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  /* overflow-x: hidden; Disable horizontal scroll */
  transition: all 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  &__closer {
    padding: 0.5rem;
    color: white;
    cursor: pointer;
  }
  &--closed {
    /* width: 0; */
    transform: translateX($barwidth);
  }
  &--opened {
  }
}

.modal {
  background: #00000080;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}

@media screen and (max-width: $break-sm) {
  .cart {
    &__box {
    }
  }
  .cartbar {
    // position: fixed;
    // top: 0;
    // right: 0;
    overflow: auto;
    width: 100%;
    &--closed {
      transform: translateX(100vw);
    }
  }
}
