.detail {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  background: white;
  padding: 1rem;

  &__box {
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 0.8rem;
    }
    &__reviews {
      font-size: 0.9rem;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    &__panel {
      display: flex;
      // align-items: center;
      align-content: center;
      justify-content: center;
      &__left {
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        &__photo {
          align-self: center;
          &__img {
            position: relative;
            width: clamp(100px, 80vw, 400px);
            height: clamp(100px, 80vw, 400px);
          }
        }
        &__photo-more {
          height: 138px;
          display: grid;
          grid-template-columns: repeat(3, 138px);
          gap: 0.3rem;
          margin: 0.4rem 0.4rem;
          img {
            width: 100%;
          }
        }
      }
      &__right {
        flex: 1;
      }
    }

    &__desc {
      li {
        font-size: 0.8rem;
        margin: 1px;
      }
      ul {
        list-style: square;
        list-style-position: inside;
        margin: 0 0 1rem 1rem;
      }
      br {
        display: none;
      }
    }
  }
}

.order__box {
  /* flex: 1 1 40%; */
  max-width: 300px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: white;
  // border-radius: $radius1;
  // box-shadow: $shadow1;
  border-bottom: 5px solid $accent;
  align-self: start;
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 0.7rem;
  }
  .btn {
    margin: 1rem;
  }
}

.qty {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #fff; */

  &__add,
  &__sub {
    font-size: 3rem;
    padding: 0.5rem;
    cursor: pointer;
  }
  &__num {
    max-width: 4rem;
  }
}

.related {
  /* flex: 1; */
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: $radius1;
  h1 {
    align-self: flex-start;
  }
  &__box {
    width: 250px;
    /* flex: 0; */
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    align-items: center;
    justify-content: space-between;
  }
  &__item {
    flex: 0 0 100px;
    margin: 0.4rem;
    cursor: pointer;
  }
}

@media screen and (max-width: $break-md) {
  .detail {
    &__box {
      &__panel {
        flex-direction: column;
        align-items: center;
        &__left {
          &__photo {
            &__img {
            }
          }
          &__photo-more {
            height: 138px;
            display: grid;
            grid-template-columns: repeat(2, 138px);
          }
        }
      }
    }
    .hat__box {
      // padding: 1rem;
      margin: 1rem;
    }
    .related {
      // flex-direction: column;
      // align-items: center;

      &__box {
        // width: 250px;
        // display: flex;
        // flex-wrap: wrap;
      }
    }
  }
}
