.footer {
  flex-shrink: 0;
  color: #fffafa;
  background: $gradient1;
  padding: 1rem;
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      margin: 0.5rem;
    }
    &__subtext {
      font-size: 1.2rem;
      color: $primary;
    }
    &__text {
      font-size: 0.7rem;
    }
  }
}

@media screen and (max-width: $break-sm) {
}
