.header {
  background: $secondary;
}
.navbar {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  padding: 0 2rem;
  &__logo {
    flex: 1 1 30%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-family: "Bitter", cursive;
    font-weight: 500;
    font-size: 3rem;
    span {
      font-weight: 800;
      font-size: 3.1rem;
    }
  }

  &__list {
    flex: 1 1 30%;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item {
      display: inline;
      font-weight: bold;
      margin: 1rem;
      a,
      .likeA {
        &,
        &:visited,
        &:active {
          font-weight: bold;
          text-decoration: none;
          color: $text1;
          cursor: pointer;
        }
        &:hover {
          text-decoration: underline;
          font-weight: bold;
          color: $text1;
        }
      }
    }
  }
}

.burger__btn {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  .bar {
    height: 3px;
    width: 100%;
    background-color: $primary;
    border-radius: 10px;
  }
}

@media screen and (max-width: $break-sm) {
}
