.hero {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  &__photo {
    display: flex;
    align-items: center;
    justify-content: center;
    &__img {
      width: clamp(100px, 80vw, 500px);
      height: clamp(100px, 80vw, 365px);
      position: relative;
      &:before {
        content: "";
        position: absolute;
        inset: 50%;
        transform: translateX(-50%);
        background: $gradient3;
        z-index: -1;
        width: 150%;
        height: 200px;
      }
    }
  }
  &__text {
    padding-top: 2rem;
    margin-top: -4rem;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $primary;
    .btn {
      background: $secondary;
      margin-bottom: 1rem;
    }
    h1 {
      font-size: 3rem;
      font-weight: 900;
      text-align: center;
    }
  }
}

@media screen and (max-width: $break-md) {
  .hero {
    flex-direction: column;
    align-items: center;
    &__text {
      text-align: center;
      padding: 0;
      margin-inline: 1rem;
    }
  }
}
