.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
  margin-bottom: 0.7rem;
  .page-number {
    font-size: 16px;
    font-weight: 600;
    color: $primary;
    background: #fff;
    padding: 10px 20px;
    border-radius: $radius1;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
      color: #fff;
      background: $secondary;
    }
  }
  .active {
    color: #fff;
    background: $primary;
    &:hover {
      color: $secondary;
      background: #fff;
    }
  }
}

@media screen and (max-width: $break-sm) {
  .pagination {
    [aria-label~="Previous"],
    [aria-label~="Next"] {
      display: none;
    }
    .page-number {
    }
  }
}
